.dicas {
  text-align: center;
  padding: 40px 20px;
}

.dicas h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.dicas p {
  color: #555;
  margin-bottom: 30px;
}

.dicas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.dica-card {
  background-color: #f4f6f8;
  border: 2px solid #B388EB;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s;
}

.dica-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.dica-card h3 {
  /*color: #00695c;*/
  color: #2C3E50;
  margin-bottom: 10px;
}

.dica-card a{
    display: block;
    text-align: center;
}

.botao{
    /*font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D8B4FE;
    border: 0px;
    cursor: pointer;*/
    background: linear-gradient(135deg, #6C63FF, #9B5DE5);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    background: linear-gradient(135deg, #9B5DE5, #6C63FF);
}